<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <link rel="stylesheet" href="{{ asset('css/fontawesome.min.css') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="{{ is_granted('IS_AUTHENTICATED_FULLY') ? 'backend' : '' }}">
        <div class="container-xl top-content">
            <header>
                <a href="/" class="logo">
                    <img class="logo_img" alt="" src="/images/logo.jpg" height="675" width="619" />
                </a>
                {% include 'nav.html.twig' %}
                {% include 'soclinks.html.twig' %}
            </header>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="nav-scroller bg-body shadow-sm">
                    <nav class="nav nav-underline bg-light justify-content-end" aria-label="Secondary navigation">
                        <a class="nav-link" href="{{ path('app_admin_home') }}">Dashboard</a>
                        <a class="nav-link" href="#">Services</a>
                        <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
                    </nav>
                </div>
            {% endif %}
        </div>
        <div class="container-xl">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
